.Menu.Main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  backdrop-filter: blur(3px);
  background-color: #000f0f5f;
}

.Menu.Main *{
  user-select: none;
}

.Menu.Main .Title,
.Menu.Main .SubTitle{
  text-align: center;
  font-weight: normal;
}

.Menu.Main .Title{
  margin-top: 10vh;
  font-size: 80px;
}

.Menu.Main .SubTitle{
  font-size: 32px;
  margin-top: -20px;
}


.Menu.Main .Container{
  max-width: calc(min(500px, 50%));
  margin: auto;
  margin-top: 5vh;
}

.Menu.Main .Container {
  display: flex;
  /*align-items: center;*/ /*Fits width and centers vertically.*/
  flex-wrap: wrap;
}

.Menu.Main .Container > .Button {
  flex: 100%;
}

.Menu.Main .Button{
  font-size: 32px;
  text-align: center;
  background-color: #007faf7f;
  padding: 10px;
  margin: 6px;

  width: calc(30% - 20px);
  box-sizing: border-box;

  display: flex;
  justify-content: center; /*Just text alignment*/
  align-items: center;

  border: #007faf7f;
  border-width: 4px;
  border-style: solid;
}
.Menu.Main .Button:hover{
  background-color: #0087c77f;
}
.Menu.Main .Button:active{
  background-color: #00afdf7f;
}

.Menu.Main .QuickAccessContainer{
  font-size: 32px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.Menu.Main .QuickAccessContainer > span{
  background-color: #0000007f;
  padding: 10px;
}

.Menu.Main .QuickAccessContainer > span:nth-of-type(1):hover{
  filter: brightness(80%);
  background-color: #0000009f;
}


.Menu.Main @keyframes Appear{
  0%{
    margin-left: 0px;
    opacity: 1;
  }
  100%{
    margin-left: 0px;
    opacity: 1;
  }
}

.Menu.Main @keyframes Disappear{
  0%{
    margin-left: 0px;
    opacity: 1;
  }
  100%{
    margin-left: 0px;
    opacity: 0;
  }
}

.Menu.Main .QuickAccessItemsContainer{
  /*display: none;*/
  margin-left: -9999px;
  font-family: Escape1509;
  font-size: 16px;
  box-sizing: border-box;
  position: absolute;
  bottom: calc(100% + 10px);
  background-color: #0000009f;
  width: 400px;
  max-height: 50vh;
  overflow-y: auto;
}


.Menu.Main .QuickAccessItemsContainer:not(:hover){
  animation: Disappear 1s normal;
}


.Menu.Main .QuickAccessContainer > span:hover + span + .QuickAccessItemsContainer,
.Menu.Main .QuickAccessItemsContainer:hover{
  display: block;
  margin-left: 0px;
  animation: Appear 0s normal forwards cubic-bezier(0, 0, 1, 0);
}

.Menu.Main .QuickAccessItemsContainer > div{
  padding: 5px;
}

.Menu.Main .QuickAccessItemsContainer > div:hover{
  background-color: #0000002f;
}
.Menu.Main .QuickAccessItemsContainer > div > span{
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align:top;
}
.Menu.Main .QuickAccessItemsContainer > div > span + span{
  width: 25%;
  float: right;
}

.Menu.Main .ComboBox{
  padding: 0px;
  margin: 0px;
  background-color: #007faf9f;
  border: #007faf7f;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  margin-top: -2px;
  padding: 2px;
  width: calc(25% - 1px);
  box-sizing: border-box;

  font-size: 16px;
  font-family: Escape;
}

.Menu.Main .ComboBox > span:first-child{
  display: inline-block;
  width: calc(100% - 17px);
  margin: 0 5px 0 -5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align:top;
}

.Menu.Main .ComboBox > span + span{
  float: right;
  padding: 0 5px 0 5px;
}

.Menu.Main .ComboBox > div{
  display: none;

  font-family: Escape;
  font-size: 16px;
  position: absolute;
  background-color: #007faf3f;
  backdrop-filter: blur(3px);
  right: -3px;
  width: 200px;
  max-height: 75px;
  overflow-y: auto;


  border: #007faf7f;
  border-width: 3px;
  border-style: solid;


  z-index: 1; /*!!*/
}

.Menu.Main .ComboBox > div > div{
  padding: 2px;
  text-align: left;
}

.Menu.Main .ComboBox > span + span:hover + div,
.Menu.Main .ComboBox > span:first-child:focus + span + div,
.Menu.Main .ComboBox > div:hover{
  display: block;
}

.Menu.Main .ComboBox > div > div:hover{
  background-color: #0087c73f;
}

.Menu.Main .ComboBox > div > div:active{
  background-color: #00afdf3f;
}

.Menu.Main input{
  border: 0;
}

.Menu.Main .TextInput, .KeyInput{
  font-size: 16px;
  font-family: Escape;
  background-color: #007faf9f;
  color: #ffffff;
  border: #007faf7f;
  border-width: 3px;
  border-style: solid;
  margin-top: -2px;
  padding: 2px;
  position: absolute;
  max-width: calc(25% - 11px);
  min-width: calc(25% - 11px);
}

.Menu.Main .KeyInput{
  text-align: center;
  caret-color: #00000000;
  cursor: pointer;
  user-select: none;
}

.Menu.Main .Slider + .TextInput{
  max-width: 7%;
  min-width: 7%;
}

.Menu.Main .TextInput::-webkit-outer-spin-button,
.Menu.Main .TextInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Menu.Main .Slider {
  -webkit-appearance: none;
  appearance: none;
  width: 59%;/*calc(100% - 2px);*/
  height: 6px;
  background: #cfcfcf7f;
  outline: none;
}
.Menu.Main .Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 20px;
  background: #007fcfff;
  cursor: e-resize;
}

.Menu.Main .Slider:hover + .TextInput,
.Menu.Main .TextInput:hover{
  background-color: #0087c79f;
}

.Menu.Main .Slider:active + .TextInput,
.Menu.Main .TextInput:active,
.Menu.Main .TextInput:focus{
  background-color: #00afdf9f;
}



/* The switch - the box around the slider */
.Menu.Main .Switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  left: 50%;
  transform: translateX(-50%);
}

/* Hide default HTML checkbox */
.Menu.Main .Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Menu.Main .SwitchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cfcfcf9f;
  transition: .1s;
}

.Menu.Main .SwitchSlider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffffff;
  transition: .1s;
}

.Menu.Main input:checked + .SwitchSlider {
  background-color: #0087c7af;
}

.Menu.Main input:focus + .SwitchSlider {
  box-shadow: 0 0 1px #0087c7af;
}

.Menu.Main input:checked + .SwitchSlider:before {
  transform: translateX(18px);
}
