.Chat{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
}

.Chat *:focus {
    outline: none;
}

.Chat [contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
}
.Chat [contenteditable="true"].single-line br {
    display:none;

}
.Chat [contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

.Chat [href]:not([target="_blank"]):hover::before{
  text-align: left;
  z-index: 2147483647 !important;
  position: fixed !important;
  margin-top: -20px !important;
  text-transform: none !important;
  content: "⚠️Clicking this link will probably crash the chat interface." !important;
  width: 376px;
  /*left: 50%;
  transform: translateX(-50%);*/

  font-size: 16px !important;
  font-family: Escape !important;
  color: #ffffffff !important;
  background-color: #0000003f !important;
  padding: 0 3px 3px 3px !important;
  backdrop-filter: blur(2px);
}


.Chat .ChatLogWrapper{
    position: absolute;
    /*width: calc(100% - 16px);
    max-width: 800px;*/
    width: calc(min(100% - 16px, 600px + 30%));
    left: 8px;
    bottom: 40px;
    height: 500px;
    overflow: auto;
    scroll-padding:16px;
}
.Chat .ChatLog{
    box-sizing: border-box;
    background-color: #0000007f;
    min-height: 500px;
    word-wrap: break-word;
    padding: 6px;



    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

    backdrop-filter: blur(5px);
}

.Chat .Input{
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #0000009f;
    width: calc(100% - 16px);
    height: 24px;
    padding: 4px 6px 4px 6px;

    backdrop-filter: blur(5px);
}



.Chat .ChatLog > div{
    display: block;
    padding: 1px;
    width: 100%;
}