.Menu.Options{
  backdrop-filter: blur(3px);
  background-color: #000f0f5f;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
}

.Menu.Options @font-face {
  font-family: Escape1509;
  src: url("../../../../Escape1509.ttf");
}

.Menu.Options *{
  user-select: none;
}

.Menu.Options .Title,
.Menu.Options .SubTitle{
  text-align: center;
  font-weight: normal;
}

.Menu.Options .Title{
  margin-top: 10vh;
  font-size: 80px;
}

.Menu.Options .SubTitle{
  font-size: 32px;
  margin-top: -20px;
}


.Menu.Options .Container{
  max-width: calc(min(800px, 80%));
  margin: auto;
  margin-top: 5vh;
}

.Menu.Options .Container {
  display: flex;
  /*align-items: center;*/ /*Fits width and centers vertically.*/
  flex-wrap: wrap;
}

.Menu.Options .Container > .Button {
  flex: 48%;
}

.Menu.Options .Button{
  font-size: 32px;
  text-align: center;
  background-color: #007faf7f;
  padding: 10px;
  margin: 6px;

  width: calc(30% - 20px);
  box-sizing: border-box;

  display: flex;
  justify-content: center; /*Just text alignment*/
  align-items: center;

  border: #007faf7f;
  border-width: 4px;
  border-style: solid;
}
.Menu.Options .Button:hover{
  background-color: #0087c77f;
}
.Menu.Options .Button:active{
  background-color: #00afdf7f;
}

.Menu.Options .Exit{
  margin-left: auto;
  margin-right: auto;
  width: calc(min(400px, 40%));
}