.Menu *:focus {
    outline: none;
}

.Menu [contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
}
.Menu [contenteditable="true"].single-line br {
    display:none;

}
.Menu [contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

.Menu {
    font-family: ESCAPE, sans-serif;
    font-size: 16px;
    color: #ffffff;
}



.Menu ::-webkit-scrollbar-corner {
    background: #00000000;
}

/* Track */
.Menu ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #00000000; /*!!!!!*/
}

.Menu ::-webkit-scrollbar-track {
    display: none;
    background: #007faf7f;
    border: solid 2px #007faf7f;
}


/* Thumb */
.Menu ::-webkit-scrollbar-thumb {
    background: #007faf7f;
    border: solid 2px #007faf7f;
}

.Menu ::-webkit-scrollbar-thumb:hover {
    background: #0087c77f;
    border: solid 2px #0087c77f;
}

.Menu ::-webkit-scrollbar-thumb:active {
    background: #00afdf7f;
    border: solid 2px #00afdf7f;
}

/*Button*/

.Menu ::-webkit-scrollbar-button {
    display: none;
}